
#name-plate {
    background: teal;
    padding: 25px;
    margin: -13px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 25px;
}

#name-plate:hover {
    color: salmon;
}

.navbar {
    border-bottom: 2px solid grey;
    margin-bottom: 25px;
}

h2 {
    color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.col-8.aboutpage {
    background: white;
    border: 1px solid grey;
    padding-top: 5px;
    text-align: left;
}

.row.content {
    padding-top: 10px;
}

.aboutimg {
    float: left;
    margin: 30px;
}