body {
    margin-bottom: 40px;
    box-sizing: border-box;
}


#name-plate {
    background: teal;
    padding: 25px;
    margin: -13px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 25px;
}

#name-plate:hover {
    color: salmon;
}

.navbar {
    border-bottom: 2px solid grey;
    margin-bottom: 25px;
}

h2 {
    color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.col-12.aboutpage, .col-12.contactpage, .col-12.portpage {
    background: white;
    border: 1px solid grey;
    padding-top: 5px;
    text-align: left;
}

.row.content {
    padding-top: 10px;
    margin-bottom: 20px;
}

.aboutimg {
    float: left;
    margin: 30px;
}

.gameimg {
    background: red;
    text-align: center;
}

.row.top, .row.bottom {
    padding-bottom: 40px;
}

.portimgs {
    width: 200px;
    height: auto;
    overflow: auto;
}